# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=

# Logger
LOGGER_LEVEL=
LOGGER_FOLDER=./out/logs

# ngrok
NGROK_AUTHTOKEN=
NGROK_DOMAIN=

# Telegram
TELEGRAM_BOT_TOKEN=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=